<div class="copyright-text">
    <span class="text-light">&copy; {{ 'now' | date: "%Y" }}</span>
    <a class="text-light" href="/" class="text-light">{{ shop.name }},</a>
    <a class="text-light" href="https://www.shopify.com/">Powered by Shopify</a>
</div>