{%- if form.errors -%}

    <div class="form-errors alert alert-danger" role="alert">

        <ul class="m-0">

            {%- for field in form.errors -%}

                {%- if field == 'form' -%}

                    <li>
                        {{ form.errors.messages[field] }}
                    </li>

                {%- else -%}

                    <li>
                        {{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}
                    </li>

                {%- endif -%}

            {%- endfor -%}

        </ul>
    </div>
{%- endif -%}