<div class="container mb-12 mt-sm-12">

    <div class="row">

        <div class="col-12">

            <!-- PAGE HEADER -->
            <div class="page-header py-14 text-center display-4 text-bold">
                {{ page.title }}
            </div>
            <!-- / PAGE HEADER -->

            <!-- PAGE CONTENT -->

            <div class="page-content pb-12">
                {{ page.content }}

                <div class="collections-list row text-center">
                    {% for collection in collections %}
                        <div class="col-12 col-sm-4 h4 mb-2">
                            <a href="{{ collection.url }}">{{ collection.title }}</a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>