<div class="container">

    <div class="row">

        <!-- PAGE CONTENT -->
        <div class="page-content col-12 py-14">
            {{ page.content }}
        </div>
        <!-- / PAGE CONTENT -->

    </div>

</div>